body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff4d4d;
    padding: 14px 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Header Section */
.header {
    padding: 80px 20px;
    text-align: center;
    background-image: url("https://www.georgeinstitute.org/sites/default/files/styles/image_ratio_2_1_large/public/2020-10/world-food-day-2020.png.webp?itok=-h1y_Rz0");
    background-size: cover;
    background-position: center;
    color: white;
}

/* Buttons */
.main-btn {
    background: #ff4d4d;
    padding: 12px 25px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}
.main-btn:hover {
    background: #e03232;
}

/* Sections */
.section {
    padding: 40px;
    text-align: center;
    /* width: 200px; */
}

/* Food Cards */
.food-row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.food-card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    padding-bottom: 15px;
}

.food-card img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.food-card h3 {
    margin-top: 10px;
}

/* Form Box */
.form-box {
    width: 350px;
    margin: auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.form-box input, textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    margin: auto;
    border-color: pink;

}

/* Premium Plans */
.plan-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 260px;
    margin: 20px auto;
    border-radius: 8px;
    background: rgb(255, 239, 203);
}

/* Footer */
.footer {
    background: #222;
    color: #eee;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
.about_card{
    border: 1px solid #ccc;
    padding: 20px;
    width: 960px;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    background: rgb(227, 223, 177);
}